<nav class="navbar is-warning mb-2">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <!-- <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28" /> -->
      <img class="logo" src="../images/logo.webp" >
    </a>
    <div class="navbar-burger" data-target="navMenuColorwarning-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuColorwarning-example" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="index.html"> Home </a>
      <a class="navbar-item" href="sobre.html"> Sobre </a>
      </div>
    </div>
  </div>
</nav>
